{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "parser": {
      "syntax": "typescript"
    }
  },
  "env": {
    "targets": {
      "node": "16"
    }
  },
  "module": {
    "type": "es6"
  }
}
